@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-dark: hsl(240, 54%, 15%);
    --text-light: hsl(242, 18%, 64%);
    --primary: hsl(222, 98%, 60%);
    --primary-lighter: hsl(2240, 33%, 86%);
    --primary-gradient: linear-gradient(to right, #3671fd, #6f31ff);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, button {
    all: unset;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    background-color:  #f5f9ff;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1070px;
    width: 100%;
    display: flex;
    margin-inline: 16px;
}

.image-section {
    width: 50%;
    position: relative;

}

.image-wrapper {
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    object-fit: cover;
}

.content-container {
    background-color: hsl(0, 0%, 100%, 0.3);
    backdrop-filter: blur(30px);
    width: 80%;
    padding: 32px;
    color: var(--text-dark);
    border: 1px solid hsl(0, 100%, 100%);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-container h1 {
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 35px;
}

.form-section {
    width: 50%;
    background-color: white;
    padding: 40px 16px;
    display: flex;
    align-items: center;
}

.form-wrapper {
    width: 75%;
    margin: 0 auto;
}

    .logo-container {
        width: 230px;
        height: 75px;
        margin-bottom: 35px;
    }

    .logo-container img {
        border-radius: 15px;
    }

    .form-wrapper h2 {
        margin-bottom: 1.5px;
    }

    .form-wrapper {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-light);
        margin-bottom: 30px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        gap: 16px;

    }

    .form-group {
        display: flex;
        flex-direction:  column;
        gap: 5px;
    }

    .form-group label {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-dark);
    }

    .form-group input {
        font-size: 15px;
        font-weight: 500;
        color: var(--text-dark);
        padding: 8px;
        border: 2px solid var(--primary-lighter);
        border-radius: 10px;
    }

    .form-group input:focus {
        border: 2px solid #16164d;
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
    }


    .remember-me {
        display: grid;
        grid-template-columns: 16px auto;
        gap: 9.6px;
    }

   input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
   }
 
   .remember-me input {
    width: 16px;
    height: 16px;
    margin-right: 4.8px;
    border: 1px solid var(--text-light);
    border-radius: 2px;
   }

   input[type="checkbox"]::before {
    content: "";
    width: 10.4px;
    height: 10.4px;
    background-color: white;
    transform: scale(0);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 16px 16px var(--form-control-color);
   }

   input[type="checkbox"]:checked::before {
    transform: scale(1);
   }

   .remember-me input:checked {
    background: var(--primary-gradient);
   }

   .remember-me label {
    color: var(--text-dark);
    user-select: none;
   }

   .remember-forgot a {
    color: var(--primary);
   }

    .remember-forgot a:hover {
        text-decoration: underline;
        text-decoration-color: var(--primary);
    }

    .login-btn,
    .google-sigin {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9.6px;
        font-weight:  500;
        padding: 8px 0;
        border-radius: 8px;
    }

    .login-btn {
        color: white;
        background: var(--primary-gradient);
    }

    .login-btn::hover {
        opacity: 0.9;
    }

    .or-divider {
        width: 100%;
        font-weight: 600;
        color: var(--text-light);
        margin-block: 24px;
        text-align: center;
        position: relative;
    }

    .or-divider::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 45%;
        background-color: var(--text-light);
    }

    .google-sigin {
        border: 2px solid var(--primary);
    }

    .google-sigin object {
        width: 24px;
        height: 24px;
    }